# environment
.env
secrets.yml

# builds
build/

services/user-service/deployments/k8s/postgres_secrets.yml
services/Auth-service/deployments/k8s/postgres_secrets.yml
services/email-service/deployments/k8s/smtp-secret.yml

# test artifacts
*.exe
coverage.out
coverage

